html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
body {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.navbar-left, .navbar-right, .navbar-center {
  display: flex;
  align-items: center;
}

.navbar-left {
  justify-content: flex-start;
}

.navbar-center {
  flex-grow: 1;
  justify-content: center;
}

.navbar-right {
  justify-content: flex-end;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.navbar a:hover {
    color: #767373;
  }

.navbar a img {
    width: 28px; 
    height: 28px; 
}


.navbar a:hover img {
  filter: brightness(0.3); 
}


