.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 2px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  box-sizing: border-box;
  height: 65px;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

  
.navbar-left, .navbar-right, .navbar-center {
  display: flex;
  align-items: center;
}
  
.navbar-left {
  justify-content: flex-start;
}
  
.navbar-center {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
}
  
.navbar-right {
  justify-content: flex-end;
}
  
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
    
.navbar a:hover {
  color: #767373;
}
  
.navbar a img {
  width: 28px; 
  height: 28px; 
}
  
  
.navbar a:hover img {
  filter: brightness(0.3); 
}

.navbar a .special {
  width: 130px; 
  height: 28px; 

}

.navbar a .special:hover {
  filter:none;
  color: none;
}

#overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 100;
}

#cartModal {
  display: none; 
  position: fixed;
  top: 30%;
  left: 87%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 2px solid white;
  padding: 15px;
  width: 400px;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 101;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
}

#cartModal #closeCart {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 300px;
  border-radius: 8px;
  height: 30px;
  width: 60px
}

#cartModal #closeCart:hover {
  background-color: darkred;
}

#cart {
  font-size: 20px;
  margin-top: 20px;
}

#pc_name_remove {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px; 
}

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; 
  gap: 10px; 
  padding: 5px 0;
  border-bottom: 1px solid gray;
}

.cart-item img {
  width: 120px; 
  height: auto; 
  object-fit: cover; 
  border: 2px solid white;
}

.cart-item p {
  font-size: 17px; 
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

#pc {
  width: 60px; 
  height: auto; 
  border: 2px solid white; 
  max-width: 80px;
}

#pay {
  width: 80px;
  height: 40px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  border: 2px solid white; 
  border-radius: 8px;
  cursor: pointer;
  user-select: none; 
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 15px auto;
  margin-top: 30px;
}

#pay:hover {
  background-color: white;
  color: black;
}


.delete-item {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px; 
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-item img {
  width: 50px; 
  height: auto;
  background-color: transparent;
  border: none;
}

#cartIcon.disabled {
  opacity: 0.5;
  pointer-events: none;
}
#pay.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed; 
  opacity: 0.5; 
  pointer-events: none;
}

@media (max-width: 1919px) {
  #cartModal {
    display: none; 
    position: fixed;
    top: 35%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 2px solid white;
    padding: 15px;
    width: 375px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 101;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
  }

  #cartModal #closeCart {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 300px;
    border-radius: 8px;
    height: 30px;
    width: 60px
  }
  
  #cartModal #closeCart:hover {
    background-color: darkred;
  }
  
  #cart {
    font-size: 18px;
    margin-top: 15px;
  }
  
  #pc_name_remove {
    gap: 15px; 
  }
  
  .cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    gap: 10px; 
    padding: 5px 0;
    border-bottom: 1px solid gray;
  }
  
  .cart-item img {
    width: 100px; 
    height: auto; 
    object-fit: cover; 
    border: 2px solid white;
  }
  
  .cart-item p {
    font-size: 16px; 
    margin: 0;
    flex-grow: 1;
    text-align: left;
  }
  
  #pc {
    width: 60px; 
    height: auto; 
    border: 2px solid white; 
    max-width: 80px;
  }
  
 
  .delete-item {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 45px; 
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .delete-item img {
    width: 50px; 
    height: auto;
    background-color: transparent;
    border: none;
  }

}


