.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 2px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  box-sizing: border-box;
  height: 65px;
  position: relative;
}
  
.navbar-left, .navbar-right, .navbar-center {
  display: flex;
  align-items: center;
}
  
.navbar-left {
  justify-content: flex-start;
}
  
.navbar-center {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
}
  
.navbar-right {
  justify-content: flex-end;
}
  
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
    
.navbar a:hover {
  color: #767373;
}
  
.navbar a img {
  width: 28px; 
  height: 28px; 
}
  
  
.navbar a:hover img {
  filter: brightness(0.3); 
}

.navbar a .special {
  width: 130px; 
  height: 28px; 

}

.navbar a .special:hover {
  filter:none;
  color: none;
}
